$purple-color: #6066D0;
$dark-purple: #2F527B;

.quizz__heading {
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.quizz__card {
  box-sizing: border-box;
  position: relative;
  background: #fff;
  width: 465px;
  border-radius: 24px;
  color: $purple-color;


  .quizz__card__img {
    position: absolute;
    top: -65px;
    left: 65%;
  }

  .quizz__card__question {
    padding-top: 68px;
    display: flex;
    align-items: center;
    justify-content: center;

    .quizz__card__title {
      color: $dark-purple;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
    }

    .quizz__card__flag {
      width: 50px;
      height: 50px;
    }
  }





  .btn_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      background: #F9A826;
      box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
      border-radius: 12px;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      padding: 15px 36px 15px 36px;
      color: white;

      &:hover {
        background: #eb9f26;
      }
    }
  }
}
