<div>
  <h3 class="quizz__heading">
    Score : {{score}}
  </h3>


  <div class="quizz__card pl-5 pr-5 pb-4">
    <div *ngIf="isDisplayResult">
      <app-result></app-result>
    </div>

    <div *ngIf="!isDisplayResult">
      <div class="quizz__card__img mb-5">
        <img src="../../assets/undraw_adventure_4hum 1.svg">
      </div>

      <div class="quizz__card__question" *ngIf="quiz.typeQuestion === 0">
        <h4 class="quizz__card__title">
          {{ quiz.question }} is the Capital of ?
        </h4>
      </div>


      <div class="quizz__card__question" *ngIf="quiz.typeQuestion === 1">
        <img class="quizz__card__flag mr-3" [src]="quiz.question" />
        <h4 class="quizz__card__title">
          is the flag of ?
        </h4>
      </div>


      <app-quizz-item *ngFor="let choice of choices; let i = index" [choice]="choice" [isAnsweredMode]="isAnsweredMode"
        [choice_letter]="choice_letters[i]" [index]="i">
      </app-quizz-item>

      <div class="btn_container mt-4" *ngIf="isAnsweredMode">
        <button class="btn" (click)="continueGame()">Next</button>
      </div>
    </div>





  </div>

</div>
